div.tile {
  background-color: moccasin !important;
  background-size: 100%;
}
div.tile.wall.single {
  background-image: url('./PNG/mapTile_034.png');
  background-size: 170%;
}
div.tile.wall {
  background-image: url('./PNG/mapTile_017.png');
}
div.tile.left.wall {
  background-image: url('./PNG/mapTile_016.png');
}
div.tile.right.wall {
  background-image: url('./PNG/mapTile_018.png');
}
div.tile.bottom.wall {
  background-image: url('./PNG/mapTile_032.png');
}
div.tile.top.wall {
  background-image: url('./PNG/mapTile_002.png');
}
div.tile.top.left.wall {
  background-image: url('./PNG/mapTile_001.png');
}
div.tile.top.right.wall {
  background-image: url('./PNG/mapTile_003.png');
}
div.tile.bottom.right.wall {
  background-image: url('./PNG/mapTile_033.png');
}
div.tile.bottom.left.wall {
  background-image: url('./PNG/mapTile_031.png');
}
