div.tile {
  background-color: lightgray !important;
  background-size: 100%;
}
div.tile.wall.single {
  background-image: url('./PNG/mapTile_039.png');
  background-size: 170%;
}
div.tile.wall.single:nth-of-type(1) {
  background-clip: cover;
}
div.tile.wall {
  background-image: url('./PNG/mapTile_027.png');
}
div.tile.left.wall {
  background-image: url('./PNG/mapTile_026.png');
}
div.tile.right.wall {
  background-image: url('./PNG/mapTile_028.png');
}
div.tile.bottom.wall {
  background-image: url('./PNG/mapTile_042.png');
}
div.tile.top.wall {
  background-image: url('./PNG/mapTile_012.png');
}
div.tile.top.left.wall {
  background-image: url('./PNG/mapTile_011.png');
}
div.tile.top.right.wall {
  background-image: url('./PNG/mapTile_013.png');
}
div.tile.bottom.right.wall {
  background-image: url('./PNG/mapTile_043.png');
}
div.tile.bottom.left.wall {
  background-image: url('./PNG/mapTile_041.png');
}
