div.tile {
  background-color: lightgray !important;
  background-size: 100%;
}
div.tile.tree {
  background-image: url('./PNG/mapTile_115.png');
}
div.tile.wall {
  background-image: url('./PNG/mapTile_022.png');
}
div.tile.left.wall {
  background-image: url('./PNG/mapTile_023.png');
}
div.tile.right.wall {
  background-image: url('./PNG/mapTile_021.png');
}
div.tile.top.wall {
  background-image: url('./PNG/mapTile_007.png');
}
div.tile.bottom.wall {
  background-image: url('./PNG/mapTile_037.png');
}
div.tile.right.bottom.wall {
  background-image: url('./PNG/mapTile_038.png');
}
div.tile.left.bottom.wall {
  background-image: url('./PNG/mapTile_036.png');
}
