
body {
  background-color: #ddd;
  background-repeat: repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAACgCAMAAACsXRuGAAAADFBMVEWIiIjd3d3y8vLm5uZzdc63AAAAbklEQVR42u3ZIQ4AIAwDwI39/8/wAlTFxFUgm5ALmFZV51Iv52Vyx/7CzhdONr3/ylCgQIECBQoUKFCgQIECBQoUKFCgQIECBcrmccGe4qX4vqBAgQIFChQoUKBAgQIFChQoUKBAgQIFij3lX3gBXBBzc8FaGvIAAAAASUVORK5CYII=)
}
h2 {
  text-transform: uppercase;
  color: white;
  background-color: black;
}
h2 {
  text-align: center;
}
#app {
  background-color: whitesmoke;
  width: 900px;
  min-height: 200px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#app:before, #app:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
#app:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
div.title, div.title #app {
  background-color: lightgray;
}
div.title {
  width: 1200px;
  margin-bottom: 10px;
}
#app>div {
  width: 100%;
  min-height: 2em;
  padding: 15px;
  background-color: white;
  /*opacity: .7;*/
}
div.dungeon {
  text-align: center;
}
div.tile-row {
  display: block;
  height: 20px;
  margin: 0;
  padding: 0;
}
div.tile {
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}
div.tile>i {
  font-size: 20px;
  padding: 1px;
  text-shadow: 2px 2px darkgray;
}
div.tile.wall {
  background: no-repeat center/100% url('../img/bricks.png');
}
div.tile.hero>i,
div.tile.hero>i:before,
div.hero i:before,
div.tile.weapon>i,
div.tile.weapon>i:before {
  color: green;
}
div.tile.hero>i:before,
div.hero i.fa:before {
  content: '\f007';
  padding-right: .5em;
}

div.tile.enemy>i,
div.tile.enemy>i:before {
  color: blue;
}
div.tile.enemy>i:before {
  content: '\f21b'
}

div.tile.health>i,
div.tile.health>i:before {
  color: red;
}
div.tile.health>i:before {
  content: '\f0fa'
}

div.tile.weapon>i:before {
  content: '\f06b'
}


div.tile.blackedout {
  display: none
}

.container>.row {
  margin: 10px;
}

div.messages {
  height: 150px;
  vertical-align: bottom;
  overflow-y: auto;
}
.messages ul.fa-ul {
  padding-top: 10px;
}
.messages ul.fa-ul>li.message {
  border: solid thin darkgray;
  border-radius: 10px 10px;
  padding: 0 10px;
}
.messages ul.fa-ul>li.message.info {
  border-color: lightblue;
}
.messages ul.fa-ul>li.message.warn {
  border-color: orange;
  font-weight: bold;
}
.messages ul.fa-ul>li.message.error {
  border-color: darkred;
  font-weight: bold;
}
.messages ul.fa-ul i.fa.fa-li.fa-trash {
  color: red;
  background-color; whitesmoke;
  text-shadow: 1px 2px darkred;
}
 .dc i.fa.fa-peek-on, .dc i.fa.fa-peek-off {
   color: blue;
 }
 .dc i.fa.fa-peek-on:before {
   content: '\f046';
 }
 .dc i.fa.fa-peek-off:before {
   content: '\f096';
 }
 .dc i.fa.fa-ack {
   color: red;
 }
 .dc i.fa.fa-ack:before {
   content: '\f1f8';
 }
